<h1><%= @message[:status] %></h1>
<h3><%= @message[:content] %></h3>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Created at</th>
      <th>Updated at</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @transaction.id %></td>
      <td><%= @transaction.type %></td>
      <td><%= @transaction.amount %></td>
      <td><%= @transaction.status %></td>
      <td><%= @transaction.created_at %></td>
      <td><%= @transaction.updated_at %></td>
    </tr>
  </tbody>
</table>
